@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;

}

:root{
  --noofskills: 4;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #00b4d8;

}

#page{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  overflow-x: hidden;
  flex-direction: column;
  padding: 1rem;
}

nav{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0077b6;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  padding: 1rem 2rem;
  color: #ffff;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
nav h1{
  font-size: 1.5rem;
  font-weight: 700;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.links a{
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.links a:hover{
  color: #90e0ef;
  transform: scale(1.1);
}

.hero{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.hero .hero-left{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}
.hero .hero-left h2{
  font-size: 2.5rem;
  font-weight: 700;
  color: #03045e;
}

.hero .hero-left p{
  font-size: 1.2rem;
  font-weight: 400;
  color: #03045e;
}

.hero .hero-left a{
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffff;
  padding: 0.5rem 1rem;
  background-color: #90e0ef;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.hero .hero-left a:hover{
  background-color: #0077b6;
}

.hero .hero-right{
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .hero-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top + calc(50% center);
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.skills{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  padding: 1rem 0;

}
.skills .skill-card{
  width: calc(100% / var(--noofskills));
  height: 100px;
  background-color: #caf0f8;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}


.about{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;

}
.projects{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}
.projects .projectcard{
  width: calc(100% / 3);
  height: 250px;
  background-color: #caf0f8;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s ease;
  padding: 0px 1rem;
  cursor: pointer;
}

.projects .projectcard h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: #03045e;
}

.projects .projectcard p{
  font-size: 1rem;
  font-weight: 400;
  color: #03045e;
  text-align: center;
}

.projects .projectcard:hover{
  transform: scale(1.05);
}

